.blog_class_main_desc p{cursor: default;}
.blog_view_link a{cursor: pointer;}
body.blog{position: initial;}
.ft ul li{font-size: 14px;}
.header-left-menu ul{padding-bottom: 3px!important;}
/*.blog_cl{background-color:#f3f9fb;}*/
.blog_header{background-color: white;}
.blog_header ul{}
.blog_header ul li{list-style: none;
display: inline-block;
border-right: 0.2px solid #ccc;
padding: 2px 13px;
margin: 10px 0px;}
.blog_header ul li:last-child{border-right: none; padding-right: 0px; padding-left: 6px;}
.blog_header ul li a{}
.blog-date-change{background-color: #1b8ab9; padding: 7px 0px; color:white; text-align: center;}
.blog-picker{color:#fff;}
.blog-left-comment{background-color: #dcecf2; text-align: center; cursor: pointer;}
.blog-comment-count{font-size: 22px;
padding: 9px 0px 0px; color: #2e2e2e; }
.blog-comment{font-size: 12px; cursor: pointer;
color: #2e2e2e;}
.blog_search{background: white;
	float: left;
	width: 100%;
padding: 10px;
margin-bottom: 15px;
border: 1px solid #d9d9d9;}
.blog_latest_post{background-color: white;
	width: 100%;
	float: left;
padding: 5px;
border: 1px solid #d9d9d9; }
.latest_post_posts ul{ margin: 0px;
padding: 0px;
 }
 footer{font-size:14px;}
 footer ul li{padding: 0px;}
.latest_post_posts ul li{ list-style: none; margin: 0; padding: 0;}
.latest_post_posts ul li a{color:#5c5c5c; font-weight:normal; width:100%; float:left;}
.post_latest_left{width: 25%; float: left;}
.lateaqt_post_img{float: left; width: 67px; position:relative; overflow:hidden;
height: 67px;}	
.lateaqt_post_img img{
	position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
	max-width:inherit;
}
.desc_post{    white-space: normal;
    overflow: hidden;
    width: 96%;
    text-overflow: ellipsis;
	 line-height: 21px;}
/*.blog_post_outer{padding-left: 37px;	}*/
.blog .logo{padding-left: 0px;}
.lateaqt_post_img img{ /*width: 100%; */height: 100%; }
.latest_post_posts{margin: 5px 0;	float: left; cursor: pointer;
	width: 100%;
border: 1px solid #d9d9d9;}
.latest_post_posts:hover{background-color: #e9f6fc;}
.blog_latest_post h3 {padding:0px 6px; font-family: robotoregular; color:#787878;}
.blog_post_main{background-color: white; float: left; border:1px solid #d9d9d9; width: 100%; cursor: default;}
.blog_main_post_second_part{padding: 20px;}
.blog_main_post_img{/*height: 350px;*/ width: 100%; border-bottom: 1px solid #d9d9d9; text-align: center; /*padding: 10px 0px;*/}
.blog_main_post_img img{ /*height: 100%;*/ width:100%;}
.social_icon_bloag li{float: left; list-style: none; display: inline-block; margin: 0; padding: 0;}
.social_icon_bloag li a{float: left; padding: 6px; font-size: 17px; cursor: pointer;}
.social_icon_bloag{margin: 0px; padding: 0px;}
.blog_class_main_social{float: left; width: 100%; border-top:1px solid #d9d9d9; padding: 6px 0px; }
.date_blog_left{width: 10%; float: left; padding-right: 15px;}
.date_blog_right{float: left; width: 90%; cursor: pointer;} 
.social_fb{background: url("../social/icon_fb.png") no-repeat;
background-size: 100%; opacity: 0.8;
height: 24px; width: 24px; float: left;}
.social_gp{background: url("../social/icon_gp.png") no-repeat;
background-size: 100%; opacity: 0.8;
height: 24px; width: 24px; float: left;}
.social_lk{background: url("../social/icon_lk.png") no-repeat;
background-size: 100%; opacity: 0.8;
height: 24px; width: 24px; float: left;}
.social_tw{background: url("../social/icon_tw.png") no-repeat;
background-size: 100%; opacity: 0.8;
height: 24px; width: 24px; float: left;}
.header-left-menu{z-index: 0!important;}
.social_fb:hover{opacity: 1}
.social_gp:hover{opacity: 1}
.social_lk:hover{opacity: 1}
.social_tw:hover{opacity: 1}
.blog_class_main_name{/*padding: 10px 0px;*/}
.blog_class_main_name span{color: #1b8ab9; font-size: 25px; font-family: robotoregular;}
.blog_class_main_by { color: #707070; padding: 0px 0px; }
.blog_class_main_by  span{padding-right: 20px; font-size: 15px;}
.blog_class_main_desc p{font-size: 14px; color: #272222!important; line-height: 25px; word-break: break-word; /*cursor: pointer;*/}
.blog_class_main_desc a:hover{color: #136386; text-decoration: underline;}
.blog_class_main_desc a{cursor: pointer;}
.blog_view_link{padding: 6px; color: #707070;}
.blog_view_link2{padding: 6px; color: #707070;}
.blog_view_link2 a{padding: 4px 8px 4px 9px; color: #b3b3b3; background: #f1f1f1;
border-radius: 50%; display: inline-block;}
.blog_view_link2 span{    padding: 2px 7px;
    display: inline-block;}
.blog_view_link:hover{text-decoration-line: underline; color: #136386;}
.blog_view_link a:hover{text-decoration-line: underline; color: #136386;}
.blog_main_o{ margin-bottom: 45px; float: left; width: 100%; }
.blog_class_main_desc{padding: 6px 0px; /*word-break: break-all;*/}
.blog_search h6{padding: 6px 0px; font-family: robotoregular;}
.searc_w{width: 87%; float: left;}
.butn_w{width: 13%; margin:0;float: left; padding:5px 8px 5px; background:none; color:#d9d9d9; }
.butn_w:hover{background:none; color:#838383;}
.searc_w input{padding: 4px 0px; border-radius: 0px; border: none;
border-bottom: 1px solid #d9d9d9;}
.butn_w a{
    color: #d9d9d9;
    padding: 6px 3px;
    
}
.message h2{margin-top: 20px;}
.fancybox-slide > .message{border-radius: 4px!important;}
.fancybox-close-small:hover::after{background-color: #1b8ab9!important; color: #fff!important;}
.fancybox-close-small{background: none !important; outline: inherit!important;	}
.blog_post_outer{margin-bottom: 50px;}
  footer > .container{border-top:1px solid #dbdada !important;}
  .footer{border:0px solid #d9d9d9;background-color: #fff!important;}

.social_icon_bloag li a p{font-style: 14px;color: #272222; cursor: default;}
.butn_w a:hover i{ color: #838383; }
.blog_header ul li a:hover{color:#136386}
.searc_w input:focus{ border:none;  border-bottom: 1px solid #1b8ab9 !important;
    color: #1b8ab9!important;}
.rifght_desc{font-size: 13px; color: #707070;}
.rifght_fname{font-size:15px; /* font-weight: bold;*/}

.blog-comment-count a{color: #2e2e2e; cursor: pointer; }
.blog-comment-count{cursor: pointer;}
.blog-comment-count a:hover{color: #2e2e2e;}
.blog-left-comment:hover{background-color: #d2edf9}
.blog-comment a{color: #2e2e2e; cursor: pointer;}
.blog_monthd{
font-size: 17px;
padding: 11px 5px ;
display: inline-block;
}
.blog_mdate
{
font-size: 35px;
}
.blog_moyear{
font-size: 18px;
padding: 6px 0px;
display: inline-block;
margin-left: 3px;
}
.social_icon_bloag li a:hover{color: #136386;}
/*.blog_header2 .border_btm{border-bottom: 2px solid #707070;}*/
.date_blog_right2{width: 100%; float: left; cursor: default;}
.social_icon_bloag li a i{padding-right: 10px;}
.comment_foem{    padding: 10px 20px;
}
.comment_foem input{padding: 6px 15px;}
.comment_box h3{border-bottom: 1px solid #d9d9d9;
padding: 7px 20px; color:#787878;
font-size: 24px;}
.comment_box{float: left;
background: white;
margin: 20px 0px;
border: 1px solid #d9d9d9;
border-radius: 4px;}
.tag_name:hover{background-color: #1b8ab9; color: #fff; cursor: pointer;}
.blog_view_link2 a:hover{background: #b3b3b3;
color: #f1f1f1;}
.comment_foem button{text-transform:inherit; ; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3bb0ac), color-stop(56%, #1b8ab9), color-stop(100%, #1b8ab9));
background: -webkit-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%);
background: -o-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%);
background: -ms-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%);
background: linear-gradient(354deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%);}
.tag_name{border:1px solid #d9d9d9; display: inline-block; padding: 3px 10px; margin-right: 1px;  border-radius:4px; font-size: 12px; margin-bottom:5px;}
.popular_tag{padding: 11px 10px;
float: left;}
.popular_tag h4{padding: 6px 0px 15px; color:#787878;
font-family: robotoregular;}


.blog_header{padding-top: 80px;}
.post_latest_right{width: 70%; float: left; padding-left: 10px; height:67px; overflow:hidden;}
.tag_name .span_tag a{color:#787878;}
.tag_name:hover .span_tag a{color:#fff;}

/***  comment design  ***/
.all-comments{width:100%; float:left; border-top:1px solid #d9d9d9;}
.all-comments ul{padding-left:0;}
.all-comments ul li{border-bottom:1px solid #d9d9d9; list-style-type:none; padding:15px 0; width:100%; float:left;}
.all-comments ul li:last-child{border-bottom:none;}
.all-comments ul li .c-user-img{width:75px; height:75px; float:left; margin-right:15px;}
.all-comments ul li .c-user-img img{width:75px; height:75px;}
.all-comments ul li .c-user-comments{width:90%;float:left;}
.all-comments ul li .c-user-comments h5{font-size:18px; color:#000; line-height:1; padding-bottom:5px;}
.all-comments ul li .c-user-comments p{font-size:15px; color:#a0a0a0; line-height:1.3;}
.all-comments ul li .c-user-comments p .comment-time{font-size:12px; font-family:"robotoregular";}


.blog_class_main_by{display:none;}
/*.blog-detail .container{width:80%;}*/
.blog-detail .logo{padding-left:0;}
.desc_post a:hover{color:#1b8ab9;}
.blog-tag{padding-bottom:10px; margin-bottom:15px; border-bottom:1px solid #d9d9d9;   color:#8c8c8c;}
.blog-tag .tag-line{font-size:25px;}
.blog-tag .tag-line span{font-weight:bold;   color:#1b8ab9;}

input:focus, textarea:focus, select:focus{border: 1px solid #1b8ab9;}
input:focus:-webkit-input-placeholder {
    color: #1b8ab9;
}
input:focus::-webkit-input-placeholder {
    color: #1b8ab9;
}

/* Firefox < 19 */
input:focus:-moz-placeholder {
    color: #1b8ab9;
}
input:focus:focus:-moz-placeholder {
    color: #1b8ab9;
}

/* Firefox > 19 */

input:focus::-moz-placeholder {
    color: #1b8ab9;
}

/* Internet Explorer 10 */
input:focus:-ms-input-placeholder {
    color: #1b8ab9;
}
input:focus:-ms-input-placeholder {
    color: #1b8ab9;
}






/*terams*/

.main-comtai{text-align: center; text-align: center;
padding: 47px;
font-family: robotomedium;
color: white;}

.main-comtai h1{margin: 0; padding: 15px 0px;}
.grad_terms2{
	background-image: -ms-linear-gradient(right, #F13B6F 0%, #ECB044 90%);	
	background-image: -moz-linear-gradient(right, #F13B6F 0%, #ECB044 90%);
	background-image: -o-linear-gradient(right, #F13B6F 0%, #ECB044 90%);
	background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #F13B6F), color-stop(90, #ECB044));
	background-image: -webkit-linear-gradient(right, #F13B6F 0%, #ECB044 90%);
	background-image: linear-gradient(to left, #F13B6F 0%, #ECB044 90%);
	margin-top: 63px;
	width: 100%;
}
.grad_terms{
	margin-top: 63px;
	width: 100%;
	background-image: -ms-linear-gradient(right, #6297BE 0%, #B85790 70%);
	background-image: -moz-linear-gradient(right, #6297BE 0%, #B85790 70%);
	background-image: -o-linear-gradient(right, #6297BE 0%, #B85790 70%);
	background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #6297BE), color-stop(70, #B85790));
	background-image: -webkit-linear-gradient(right, #6297BE 0%, #B85790 70%);
	background-image: linear-gradient(to left, #6297BE 0%, #B85790 70%);
}
.terms-con{
	background-image: -ms-linear-gradient(right, #6297BE 0%, #B85790 70%);
	background-image: -moz-linear-gradient(right, #6297BE 0%, #B85790 70%);
	background-image: -o-linear-gradient(right, #6297BE 0%, #B85790 70%);
	background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #6297BE), color-stop(70, #B85790));
	background-image: -webkit-linear-gradient(right, #6297BE 0%, #B85790 70%);
	padding: 0px;
	background-image: linear-gradient(to left, #6297BE 0%, #B85790 70%);
}
.overlaay{padding: 15px 0px; background:rgba(0,0,0,0.3) }
.term_desc{padding: 40px 0px 80px; width: 80%; margin: 0 auto; text-align: justify;}
.revision_0{padding: 14px 0px; display: inline-block;}
.bg_white{background-color: white;}
.second_paret_ts{margin: 15px 0px; float: left;}
.second_paret_ts ol {list-style-type:square; margin: 0; padding: 0px 15px;}
.sixth_ts ol { list-style-type:disc; padding: 0px 15px; }
.test_py ol { list-style-type:disc; padding: 0px 40px; }
ol.upper_alpha{list-style-type: upper-alpha; padding: 5px 25px;}
.em-py3{width: 6%; float: left;}
.em-py2{width: 94%; float: left;padding-bottom: 20px;}
.btn2:hover{text-decoration-line: none;}
.ex_py{}
.test_py{font-size: 15px;}
.terms-con2{
	padding: 0px; 
	background-image: -ms-linear-gradient(right, #F13B6F 0%, #ECB044 90%);
	background-image: -moz-linear-gradient(right, #F13B6F 0%, #ECB044 90%);
	background-image: -o-linear-gradient(right, #F13B6F 0%, #ECB044 90%);
	background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #F13B6F), color-stop(90, #ECB044));
	background-image: -webkit-linear-gradient(right, #F13B6F 0%, #ECB044 90%);
	background-image: linear-gradient(to left, #F13B6F 0%, #ECB044 90%);
}
.custom-tp footer{background:#fff;}

 label.error {
	margin-bottom: 0px!important;
	right: 19px!important;
	bottom: -6px!important;
	color: #ff0000 !important;
}

.date_blog_right .blog_main_post_second_part h1{display: inline-block;}
/*.blog h3{display: inline-block;}*/
.blog_post_outer .comment_foem button{margin-left: 0px !important;}
.main-none{display:none;}

/***  related blogs  ***/
.related-blog h3{color:#787878; padding-bottom:15px;}
.rel-blog-box{border:1px solid #d2d2d2; width:100%; margin-bottom:15px;}
.rel-blog-img{margin:5px 5px 0; width:calc(100% - 10px); max-height:200px; position:relative; height:200px; overflow:hidden;}
.rel-blog-img img{position: absolute;
left: 50%;
top: 50%;
height: 100%;
width: auto;
-webkit-transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
transform: translate(-50%,-50%);
max-width: inherit;}
.rel-blog-box h5{text-align:center; padding:10px 15px; min-height:105px; line-height:1;}
.rel-blog-box h5 a{font-size:18px; color:#5c5c5c;}
/***  end related blogs  ***/
.main-menu-right ul li a{color:#5c5c5c;}
.main-menu-right ul li a:hover{color:#1b8ab9; border-bottom:1px solid #1b8ab9;}
.main-menu-right ul li a.active{color:#1b8ab9; border-bottom:1px solid #1b8ab9;}

.load-more-blog{width:100%; float:left; text-align:center;}
.load-more-blog li{list-style-type:none;}
.load-more-blog li button{margin-left:0; color:#1b8ab9; background: -webkit-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); font-size:45px; font-weight:bold; line-height:1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}
  .load-more-blog li button:focus{outline:none;}
.main-menu-right .category{cursor: pointer;}
.main-menu-right .category:hover{cursor: pointer;color: #1b8ab9;}
.message{padding: 20px 30px;}
/***  media query  ***/

@media screen and (max-width: 1279px) {
	.term_desc{width: 100% !important;}
	.all-comments ul li .c-user-comments{width:89%;}
	.block-1279{display:block;}
	.none-1279{display:none;}
}
@media screen and (max-width: 1200px) {
	.blog_latest_post h3{font-size: 20px;}
	.date_blog_left{width: 14%;}
	.date_blog_right{width: 86%; cursor: pointer;}
	.post_latest_right{width: 66%; line-height: 17px;}
	.post_latest_left{width: 34%;}
	.rifght_fname{font-size: 12px;}
	.rifght_desc{font-size: 10px;}
	.all-comments ul li .c-user-comments{width:85%;}
}
@media screen and (max-width: 1024px) {
	
}
@media screen and (max-width: 991px) {
	.em-py3 {
		width: 10%;
		float: left;
	}
	.em-py2{width: 90%;}
	.header-left-menu ul{padding-bottom: 0px;}
	.date_blog_right{width: 85%;}
	.date_blog_left{width: 15%; padding-right: 8px;}
	.blog-comment{font-size: 10px;}
	.blog_mdate{font-size: 28px;}
	.blog-comment-count{font-size: 18px;}
	.common-form1{max-width:750px; float:none; margin:0 auto;}
	.blog_moyear{font-size: 16px;}
	.all-comments ul li .c-user-img{width:60px; height:60px;}
	.all-comments ul li .c-user-img img{width:60px; height:60px;}
	.all-comments ul li .c-user-comments{width:82%;}
	.rel-blog-img{height:210px; max-height:210px;}
	.rel-blog-box h5{min-height:80px;}
}
@media screen and (max-width: 639px) {

	.em-py3 {
		width: 15%;
		float: left;
	}
	.em-py2{width: 85%;}

}
@media screen and (max-width: 767px) {
	.date_blog_left{display: none;}
	.blog_header {
		padding-top: 102px;
	}
	.fifth_part_py h4{font-size: 13px;}
	.test_py ol {
		list-style-type: disc;
		padding: 0px 15px;
	}
	.main-comtai h1{padding: 25px 0px 0px !important; font-size: 20px;	}
	.blog header h2.logo{
		display: block;
		text-align: center;
		font-size: 24px;
	}
	.term_desc h3{font-size: 20px;}
	.second_paret_ts h3{ font-size: 20px; }
	.second_paret_ts ol li h4{ font-size: 15px;	  }
	.term_desc{width: 100% !important;}
	.comment_box{margin-bottom: 80px;}
	.blog header h2.logo a{font-size: 32px;}

	.btn-right{padding-top: 0px !important; padding-right: 0px!important}
	.term_desc{padding: 20px 0px 80px !important;}
	.main-inner .middle-main{padding: 10px 0}
	.date_blog_left{position: absolute; width: 90px; top: 10px; left: 25px;}
	.social_icon_bloag li a{padding:4px; }
	.date_blog_right{width: 100%;}
	.common-form1 h3{margin:20px 0;}
	.job-search-box1 fieldset{padding-left:0; padding-right:5px;}
	.blog_post_outer{padding-right: 15px; }
	.logo a h3{font-size: 22px;}
	.user-midd-section{margin-top: 6px;}
	.comment_foem button{padding: 7px 15px;}
	.blog_post_outer.pr0{padding-right:15px;} 
	.all-comments ul li .c-user-comments{width:80%;}
/*	.btn2 , .btn3{padding: 8px 10px!important;}
*/	.blog .main-inner header{padding: 5px 0px;}
 }



@media screen and (max-width: 540px) {

	.main-comtai h1 {
    padding: 47px 0px 0px !important;
    font-size: 20px;
}	

ol li h4{font-size: 16px;}
}
@media screen and (max-width: 479px) {
	.test_py{font-size: 12px;}
	.term_desc{padding: 20px 0px 23px !important;}
	.term_desc{width:100%!important; }
	.term_desc h3{font-size: 18px;}
	.blog_header ul li{padding: 1px 6px; font-size: 11px;}
	.blog_header{padding-top: 118px;}
	.all-comments ul li .c-user-comments{width:100%; padding-top:10px;
		}
		footer ul li a {
    font-size: 11px;
}

	/*	.loh_blog{width: 100%!important;
			text-align: center;}*/
}

@media screen and (max-width: 320px) {
.blog_mdate{font-size: 18px;}
.date_blog_left{width: 62px;}
.blog-date-change{padding: 0px; line-height: 13px;}
.blog-comment-count{padding: 0px;}
.blog-left-comment{line-height: 20px;}
.blog_monthd{font-size: 15px;}
.blog_moyear{font-size: 14px;}
.blog-comment{font-size: 9px;}
ol li h4 {
    font-size: 15px;
    line-height: 1.5;
}
	.em-py3 {
    width: 20%;
    float: left;
}
	.em-py2{width: 80%;}


}