.header,.header2{
    backface-visibility:hidden
}
.fixed,.header{
    position:fixed;
    top:0;
    left:0
}
.header ul li,.header ul li a,.logo{
    display:inline-block
}
.header ul li a:hover,.header ul li a:hover i{
    color:#fff
}
.all,.dropbtn{
    cursor:pointer
}
.edit_data,.em,.header ul li a .header-icon-notification,.header ul li a span{
    vertical-align:middle
}
.header{
    padding:0;
    -webkit-transition:all .4s ease;
    transition:all .4s ease;
    background:#1b8ab9;
    border-bottom:1px solid #e6ecf0;
    border-bottom:1px solid rgba(0,0,0,.05);
    right:0;
    z-index:1002;
    height:auto!important
}
.logo{
    padding:4px 23px
}
.fixed{
    width:100%;
    z-index:10000
}
#a_li,#notificationLink,#notification_li,.dropdown,.header ul li{
    position:relative
}
.header ul{
    font-size:0;
    margin:8px 0;
    padding:0
}
.header ul li{
    float:left;
    list-style:none;
    margin:0;
    padding:1px 10px 0;
    height:inherit;
    border-right:1px solid #1985b3
}
.header ul li a{
    font-size:18px;
    color:#fff;
    font-weight:400;
    letter-spacing:.5;
    padding-top:5px!important
}
.header ul li a i{
    line-height:18px!important
}
.header ul li.dropdown-user a{
    border-right:none;
    text-transform:capitalize;
    padding-top:8px!important
}
.header ul li li{
    height:auto
}
.header ul li a:hover .dropdown .img-circle{
    border:2px solid #d7ecf5
}
.header ul li.dropdown-user ul li a{
    font-family:arial;
    padding:6px 10px;
    font-size:15px;
    color:#787878;
    display:block
}
.header ul li.dropdown-user ul li a:hover{
    background:#1b8ab9;
    color:#fff
}
.header ul li #notificationsmsgBody #InboxFooter a{
    text-decoration:none;
    color:#000;
    padding:9px 21px!important;
    font-size:14px
}
.header ul li #notificationsmsgBody #InboxFooter a:hover{
    text-decoration:underline;
    font-size:14px;
    color:#1b8ab9
}
.header ul li.dropdown-user ul .Setting a,.header ul li.dropdown-user ul .logout a{
    padding:6px 10px!important;
    border-right:none
}
.header ul li.dropdown-user ul li{
    border-right:none;
    width:100%
}
.header ul li:last-child{
    border-right:none;
    padding-right:0;
    padding-left:7px
}
.header ul li.dropdown-user a{
    color:#d7ecf5
}
.header ul li.dropdown-user a:hover{
    color:#fff
}
.header ul li #notificationsmsgBody a{
    padding-bottom:0!important;
    padding-top:0!important
}
.header ul li #acon a{
    border-right:none
}
.header .mCSB_container ul{
    width:100%;
    float:left
}
.header .mCSB_container ul li{
    width:100%;
    border-right:none
}
.header .mCSB_container ul li a{
    padding:0!important;
    width:100%;
    letter-spacing:0;
    border:none
}
.header .mCSB_container .day-text{
    padding-top:1px;
    font-size:11px!important;
    color:#646464
}
.header ul .Setting a i,.header ul .logout a i{
    color:#787878
}
.header ul li #abody ul{
    margin:0;
    padding:0
}
.header ul li #abody ul li{
    float:left;
    display:block;
    width:100%;
    border-bottom:1px solid #d9d9d9;
    border-right:none!important
}
.header ul li #abody ul li a{
    color:#000;
    padding:5px 13px 5px 0!important;
    width:100%;
    float:left;
    border:none
}
.header ul li #abody ul li a .all-img{
    height:50px;
    width:50px;
    float:left;
    display:inline-block;
    border:1px solid #d9d9d9;
    margin:4px 0
}
.header ul li #abody ul li:hover{
    background-color:#1b8ab9
}
#InboxContainer,#acon{
    background-color:#fff
}
.header ul li #abody ul li:hover .text-all{
    color:#fff
}
.header ul li #abody ul li a .all-img img{
    width:100%;
    height:100%
}
.header ul li #abody ul li a .text-all{
    width:160px;
    float:left;
    padding:16px 6px
}
.header ul li #abody ul li:last-child{
    border:none
}
.header #notification_li li a .notification-data-inside i{
    display:none
}
#InboxContainer:before,#acon:before,#notificationContainer:before{
    display:block;
    content:'';
    margin-left:18px
}
.main-menu-right ul{
    width:100%;
    float:left;
    padding-bottom:0;
    margin-top:5px
}
.addcontact-text_full{
    width:100%;
    text-align:left;
    font-size:13px
}
.main-menu-right ul.notification_data_in{
    margin-top:0
}
#Inbox_count,#notification_count{
    background:#c00;
    color:#fff;
    margin-left:77px;
    margin-top:-11px
}
#InboxContainer{
    border-radius:5px;
    box-shadow:0 3px 8px rgba(0,0,0,.45);
    -webkit-box-shadow:0 3px 8px rgba(0,0,0,.45);
    overflow:visible;
    position:absolute;
    top:25px;
    margin-top:13px;
    z-index:2;
    display:none;
    float:left;
    width:358px;
    right:-5px
}
#acon,#addcontactContainer{
    -webkit-box-shadow:0 3px 8px rgba(0,0,0,.25)
}
#InboxContainer:before{
    position:absolute;
    width:0;
    height:0;
    color:transparent;
    border:9px solid #000;
    border-color:transparent transparent #fff;
    margin-top:-18px;
    right:17px
}
#InboxBody{
    padding:0!important;
    min-height:300px
}
#InboxFooter{
    z-index:1000;
    position:absolute;
    top:0;
    right:0;
    text-align:center;
    font-weight:700;
    font-size:12px
}
#notificationsmsgBody li{
    border-right:none!important;
    border-bottom:1px solid #d9d9d9
}
#notificationsmsgBody #InboxFooter a:focus{
    outline:0;
    text-decoration:none;
    width:100%
}
#Inbox_count{
    padding:3px 7px;
    font-weight:700;
    border-radius:9px;
    position:absolute;
    font-size:11px
}
.header-left-menu{
    z-index:10
}
.main-menu-right{
    float:right
}
#acon,#notificationContainer{
    overflow:visible;
    z-index:2;
    display:none;
    float:left
}
.main-menu-right li em{
    font-style:normal
}
#notificationLink{
    z-index:1
}
#notificationLink span{
    padding:3px;
    background:0 0;
    color:#fff;
    font-weight:700;
    margin-left:13px;
    font-family:Arial;
    -moz-border-radius:9px;
    -webkit-border-radius:2px;
    position:absolute;
    margin-top:-3px;
    font-size:10px;
    top:3px;
    line-height:8px;
    left:0
}
.dropbtn{
    color:#fff;
    padding:0 10px 0 8px;
    font-size:16px;
    border:none
}
#atittle a:hover,#notificationFooter a:hover{
    text-decoration:underline;
    color:#1b8ab9
}
.dropdown .img-circle{
    width:25px;
    height:25px;
    border-radius:100%;
    margin-right:4px
}
.u2{
    font-family:robotoregular;
    font-size:15px;
    margin-right:6px
}
#acon{
    position:absolute;
    top:26px;
    margin-top:22px;
    width:260px;
    right:0;
    border-radius:5px;
    padding-bottom:10px
}
#acon:before,#notificationContainer:before{
    position:absolute;
    width:0;
    height:0;
    color:transparent;
    border:10px solid #000;
    border-color:transparent transparent #fff;
    margin-top:-20px;
    right:15px
}
#atittle,#notificationTitle{
    position:relative;
    background-color:#fff;
    border-bottom:1px solid #ddd;
    width:100%;
    z-index:1000;
    font-family:Arial
}
#atittle{
    font-weight:400;
    padding:8px 13px;
    font-size:18px;
    border-top-left-radius:9px;
    border-top-right-radius:9px
}
#atittle a{
    color:#000;
    border:none;
    font-size:17px
}
#abody{
    padding:0!important;
    min-height:300px
}
#notificationContainer{
    background-color:#fff;
    box-shadow:0 3px 8px rgba(0,0,0,.45);
    -webkit-box-shadow:0 3px 8px rgba(0,0,0,.45);
    position:absolute;
    top:25px;
    margin-top:23px;
    width:358px;
    right:1px;
    border-radius:5px
}
#notificationsBody{
    padding:0!important;
    height:275px;
    overflow-x:hidden
}
#notificationsmsgBody{
    padding:0!important;
    overflow-y:auto;
    height:276px;
    overflow-x:hidden
}
#notificationFooter{
    z-index:1000;
    position:absolute;
    top:0;
    right:0;
    text-align:center;
    font-weight:700;
    font-size:12px
}
#notificationFooter a{
    text-decoration:none;
    color:#000;
    padding:3px 21px;
    font-size:14px;
    padding-top:8px!important
}
#notificationFooter a:focus{
    outline:0;
    text-decoration:none;
    width:100%
}
#notificationTitle{
    font-weight:400;
    padding:8px;
    font-size:17px;
    border-top-left-radius:9px;
    border-top-right-radius:9px
}
#notification_count{
    padding:3px 7px;
    font-weight:700;
    border-radius:9px;
    position:absolute;
    font-size:11px
}
#notificationsBody li a{
    padding:0!important;
    width:100%
}
#notification_inside h6{
    height:auto
}
.notifications li{
    border-bottom:1px solid #d9d9d9
}
#notification_main_in{
    border-radius:3px
}
.notification-database{
    height:68px;
    width:358px;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
	padding:9px;
}
.notification-pic,.notification-pic img{
    height:50px;
    width:50px
}
.notification-pic{
    border-radius:50%;
    float:left;
}
.notification-data-inside{
    margin-left:60px;
}
.notification-data-inside h6{
    font-size:14px;
    color:#000;
    display:block;
    display:-webkit-box;
    max-width:100%;
    margin:0 auto;
    line-height:1.2;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    overflow:hidden;
    text-overflow:ellipsis
}
.notification-data-inside .clockimg{
    display:none
}
.fa{
    display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.noti-msg-y{
    font-size:13px;
    color:#646464;
    line-height:16px
}
.dropdown-menu{
    right:0;
    left:inherit!important;
    position:absolute;
    border:none;
    top:37px
}
ul.dropdown-menu li{
    display:block
}
ul.dropdown-menu li a{
    padding:8px 14px;
    font-size:16px
}
ul.dropdown-menu li a i{
    padding-right:2px
}
.dropdown-menu:before{
    content:'';
    display:block;
    position:absolute;
    width:0;
    height:0;
    color:transparent;
    border:10px solid #000;
    border-color:transparent transparent #fff;
    margin-top:-18px;
    right:3.5%
}
.header2 ul li,.header2 ul li a{
    display:inline-block;
    position:relative
}
.my_S{
    cursor:default;
    padding:8px 15px;
    font-size:15px;
    color:#000;
    background-color:#fff;
    border-bottom:1px solid #d9d9d9;
    border-top-left-radius:9px;
    border-top-right-radius:9px
}
.dropdown_hover .dropdown-content_hover a:hover,.header2{
    background-color:#1b8ab9
}
.header2{
    width:1250px;
    margin:0 auto;
    border-bottom:1px solid #e6ecf0;
    border-bottom:1px solid rgba(0,0,0,.05);
    position:fixed;
    top:49px;
    right:0;
    height:35px;
    left:0;
    z-index:1001
}
.header2 .container{
    width:100%;
    padding-right:4px
}
.header2 ul{
    font-size:0;
    margin:0;
    float:right;
    padding-left:0;
    padding-right:0
}
.header2 ul li{
    list-style:none;
    padding:0;
    margin:0;
    height:35px;
    float:left;
    border-right:1px solid #1985b3
}
.header2 ul li:last-child{
    border-right:none
}
.header2 ul li a{
    font-size:15px;
    color:#fff;
    padding:8px 14px
}
.header2 ul li a#InboxLink{
    padding:12px 13px 4px
}
.header2 #InboxFooter a.no_msg_h:hover{
    color:none;
    text-decoration:none
}
.header2 ul li a i{
    font-size:15px;
    padding-left:0
}
.header2 ul li li{
    height:auto
}
.header2 ul li a.active{
    position:relative;
    background:#08234a;
    color:#fff
}
.header2 ul li.active a{
    color:#d7ecf5
}
.header2 ul li.active a:hover{
    color:#fff
}
.header2 ul li a .img-msg{
    background-image:url(../img/message3_24x24_h.png);
    display:block;
    height:17px;
    width:19px;
    background-size:100%
}
.modal-backdrop.in,.search-mob-block{
    display:none
}
.header2 ul li a.msg_notification_available .img-msg,.header2 ul li a:hover .img-msg{
    background-image:url(../img/message3_24x24.png);
    background-size:100%
}
.header2 input::-webkit-input-placeholder{
    line-height:3
}
.header2 input::-moz-placeholder{
    line-height:16px
}
.header2 ul li .dropdown-content_hover a i{
    padding-right:5px!important;
    margin-left:-6px!important
}
.header2 ul.khyati2 li{
    border-right:1px solid transparent
}
.header2 #InboxFooter a:hover{
    color:#1b8ab9;
    text-decoration:underline
}
.header2 .mCSB_container li{
    border-right:0!important
}
.header2 ul.notification_data_in_h2 li{
    border-right:none!important
}
.header2 ul.notification_data_in_h2 li .data_noti_msg{
    margin-top:2px;
    width:100%;
    float:left
}
header .mCSB_outside+.mCS-minimal-dark.mCSB_scrollTools_vertical,header .mCSB_outside+.mCS-minimal.mCSB_scrollTools_vertical{
    margin:0
}
.header2 #InboxFooter a{
    color:#000;
    font-weight:500;
    font-size:13px
}
.header2 ul li a#addcontactLink{
    padding:6px 15px
}
.header2 ul li a.bus-h{
    padding:8px 12px
}
.header2 ul li a .bu_home{
    background-image:url(../img/home_22x22_h.png);
    float:left;
    background-size:100%;
    height:19px;
    width:20px
}
.header2 ul li a:hover .bu_home{
    background-image:url(../img/home_22x22.png)
}
.header2 ul li a .bu_req{
    background-image:url(../img/icon_contact_request_h.png);
    float:left;
    background-size:100%;
    height:25px;
    width:25px
}
.header2 ul li a.contact_notification_available .bu_req,.header2 ul li a:hover .bu_req{
    background-image:url(../img/icon_contact_request.png)
}
.dropdown_hover #art_profile:hover{
    color:#fff
}
.dropdown_hover #art_profile{
    font-family:robotoregular;
    color:#d7ecf5;
    font-size:15px;
    letter-spacing:.5
}
.dropdown .img-circle{
    border:2px solid #d7ecf5;
    background:#d7ecf5
}
.header ul li a i{
    color:#d7ecf5
}
.dropdown_hover span i{
    padding-left:6px;
    font-size:18px
}
.header2 .job-search-box1 fieldset{
    padding-top:3px;
    padding-bottom:3px
}
.header2 .job-search-box1 fieldset.sec_h2{
    width:200px
}
.job-search-box1 label i{
    border-radius:2px;
    padding:5px 10px 4px 9px;
    font-size:19px;
    color:#999;
    cursor:pointer;
    background-color:#fff
}
.action-button #message_count{
    position:absolute;
    right:2px;
    top:3px;
    text-align:center;
    border-radius:50%
}
.action-button .count_add{
    line-height:10px!important;
    background-color:#FF4500;
    padding:3px 6px 4px!important;
    font-family:arial!important;
    font-size:10px!important;
    font-weight:700;
    border-radius:100%!important
}
.action-button #notification_count{
    border-radius:50%
}
.hew:hover{
    transition-duration:2s
}
.job-search-box1 fieldset input{
    height:28px;
    line-height:1
}
.job-search-box1 fieldset input::-webkit-input-placeholder{
    line-height:17px!important
}
.job-search-box1 button:hover{
    background-color:#000;
    color:#fff
}
.job-search-box1 button{
    padding:5px 15px;
    border-radius:4px;
    margin-top:0;
    color:#1b8ab9;
    background-color:#fff;
    margin-right:0
}
.job-search-box1 input{
    background:#fff;
    border:1px solid transparent;
    outline:0;
    padding:4px;
    color:#000;
    font-size:14px;
    font-weight:400;
    border-radius:2px;
    width:100%;
    height:28px;
    line-height:1
}
.job-search-box1 fieldset{
    padding-left:5px;
    padding-right:0
}
.job-search-box1 fieldset::-moz-focus-inner{
    padding-left:5px;
    padding-right:0
}
.dropdown_hover .dropdown-content_hover a:hover .h2-img{
    background:url(../img/icon_view_profile_white.png) no-repeat;
    background-size:100%
}
.dropdown_hover .dropdown-content_hover a:hover{
    color:#fff
}
.h3-img{
    background:url(../img/icon_edit_profile.png) no-repeat;
    background-size:100%
}
.dropdown_hover .dropdown-content_hover a:hover .h3-img{
    background:url(../img/icon_edit_profile_white.png) no-repeat;
    background-size:100%
}
.dropdown_hover .dropdown-content_hover a:hover .h4-img{
    background:url(../img/icon_delete_white.png) no-repeat;
    background-size:100%
}
.dropdown_hover span i{
    margin-right:-8px
}
.dropdown_hover{
    position:relative;
    display:inline-block;
    color:#fff;
    padding:7px 16px 0 13px;
    cursor:pointer
}
.dropdown_hover .dropdown-content_hover a{
    font-family:arial;
    color:#787878;
    width:100%
}
.dropdown-content_hover{
    padding-bottom:7px;
    display:none;
    position:absolute;
    color:#3b5283;
    background-color:#fff;
    min-width:180px;
    box-shadow:0 8px 16px 0 rgba(0,0,0,.2);
    margin-top:7px!important;
    z-index:1;
    left:inherit!important;
    right:-5px!important;
    border-radius:4px
}
#addcontactContainer::before,.dropdown-content_hover::before{
    content:'';
    display:block;
    position:absolute
}
.dropdown-content_hover::before{
    width:0;
    height:0;
    color:transparent;
    border:9px solid #000;
    border-color:transparent transparent #fff;
    margin-top:-18px;
    right:9px
}
.h2-img{
    background:url(../img/icon_view_profile.png) no-repeat;
    background-size:100%
}
.h2-srrt{
    margin-right:12px;
    height:19px;
    width:19px;
    float:left;
    background-size:100%
}
.h4-img{
    background:url(../img/icon_delete.png) no-repeat;
    background-size:100%
}
.msg_desc_a{
    color:#777;
    font-size:14px;
    max-height:24px;
    overflow-x:hidden;
    overflow-y:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    width:95%
}
.data_noti_msg{
    font-size:12px;
    line-height:19px;
    color:#999
}
#inboxcontainer::before{
    right:17px
}
#addcontact_count,.addcontact_count{
    font-weight:600;
    height:16px;
    position:absolute;
    right:10px;
    top:3px;
    line-height:1;
    font-size:10px;
    border-radius:50%;
    width:16px;
    padding:3px 4px
}
#addcontactContainer::before{
    width:0;
    height:0;
    color:transparent;
    border:10px solid #000;
    border-color:transparent transparent #fff;
    margin-top:-20px;
    margin-left:18px;
    right:9px
}
#addcontactContainer{
    background-color:#fff;
    overflow:visible;
    position:absolute;
    top:38px;
    margin-top:3px;
    z-index:2;
    display:none;
    float:left;
    width:358px;
    right:2px;
    border-radius:5px;
    line-height:1.2
}
#addcontactTitle{
    position:relative;
    z-index:1000;
    font-weight:400;
    font-family:Arial;
    padding:8px;
    font-size:17px;
    background-color:#fff;
    border-top-left-radius:9px;
    border-top-right-radius:9px;
    width:100%;
    border-bottom:1px solid #ddd;
    color:#4c4c4c
}
#addcontactTitle a{
    color:#000;
    padding:1px 10px
}
#addcontactTitle a:hover{
    color:#1b8ab9;
    text-decoration:underline
}
#addcontactBody{
    padding:0!important;
    overflow:hidden!important;
    border-radius:3px;
    height:315px
}
#addcontactBody li,#addcontactBody ul{
    padding-right:0;
    width:100%
}
#addcontactBody li{
    border-bottom:1px solid #ddd;
    padding:9px 10px
}
#addcontactBody li a{
    padding-left:0;
    color:#000;
    padding-top:0
}
#addcontactBody li .addcontact-right a.add-right-true{
    float:right;
    background-color:#fff;
    border:1px solid #1b8ab9
}
.addcontact-left,.addcontact-pic,.addcontact-right,.addcontact-text,.profile-boxProfileCard_follow ul,.profile-boxProfileCard_follow ul li,.profile-boxProfileCard_follow_mobile ul,.profile-boxProfileCard_follow_mobile ul li{
    float:left
}
#addcontactBody li .addcontact-right a.add-left-true{
    border:1px solid transparent;
    background:-moz-linear-gradient(96deg,#1b8ab9 0,#1b8ab9 44%,#3bb0ac 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#3bb0ac),color-stop(56%,#1b8ab9),color-stop(100%,#1b8ab9));
    background:-webkit-linear-gradient(96deg,#1b8ab9 0,#1b8ab9 44%,#3bb0ac 100%);
    background:-o-linear-gradient(96deg,#1b8ab9 0,#1b8ab9 44%,#3bb0ac 100%);
    background:-ms-linear-gradient(96deg,#1b8ab9 0,#1b8ab9 44%,#3bb0ac 100%);
    background:linear-gradient(354deg,#1b8ab9 0,#1b8ab9 44%,#3bb0ac 100%)
}
#addcontactBody li .addcontact-right a.add-left-true:hover{
    background:#fff;
    border:1px solid #1b8ab9
}
#addcontactBody li .addcontact-right a.add-left-true:hover i{
    color:#1b8ab9;
    background:-webkit-linear-gradient(96deg,#1b8ab9 0,#1b8ab9 44%,#3bb0ac 100%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent
}
#addcontactBody li .addcontact-right a.add-right-true i{
    color:#1b8ab9
}
#addcontactBody li .addcontact-right a.add-left-true i{
    color:#fff
}
.addcontact-pic{
    height:50px;
    width:50px;
    margin-right:10px;
    border:1px solid #d9d9d9
}
.addcontact-pic img{
    height:48px;
    width:48px;
    max-width:48px
}
.addcontact-text{
    width:100%;
    color:#8c8c8c;
    text-align:left;
    font-size:12px;
    font-family:arial
}
#addcontactFooter,#loader,#search .new-search-input,.addcontact-left,.addcontact-right a,.art-img-nn,.but1,.contct-no li,.copyright ul li a,.custom-user,.custom_footer_left,.reactivate_btn_y{
    text-align:center
}
.addcontact-text span{
    color:#404040;
    font-size:13px;
    display:block;
    line-height:1;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    max-width:165px;
    min-height:15px
}
#addcontactBody li:hover{
    background-color:#e9f4f8
}
.addcontact-left{
    width:75%;
    padding-left:0
}
.addcontact-left a{
    color:#000;
    width:100%;
    float:left;
    padding-bottom:0!important;
    -webkit-align-items:center;
    display:flex!important;
    align-items:center
}
.addcontact-left a:focus,.addcontact-left a:hover{
    background:0 0!important
}
.addcontact-right{
    width:25%
}
.addcontact-right a{
    display:inline-block!important;
    border:1px solid #000;
    padding:8px!important;
    border-radius:100%;
    width:36px;
    height:36px;
    margin:5px 2px
}
.addcontact-right a i{
    color:#000;
    font-size:17px!important
}
#addcontactFooter{
    background-color:#e9eaed;
    font-weight:700;
    font-size:12px;
    width:100%;
    margin-top:-20px;
    border-top:1px solid #ddd
}
#addcontactFooter a{
    color:#000
}
#addcontactFooter a:hover{
    background:#fff
}
.addcontact-left.custome-approved-contact{
    width:100%!important
}
.addcontact-left a{
    padding-left:0!important
}
.addcontact-right a:focus,.addcontact-right a:hover{
    background:0 0!important
}
.contct-no li{
    border-bottom:none!important;
    padding:30px 0 0 5px!important;
    font-size:30px!important;
    width:100%
}
.contct-no li a{
    font-size:16px
}
.contct-no li .addcontact-left a .addcontact-text{
    width:100%;
    font-size:15px
}
.contct-no li .addcontact-left{
    width:100%
}
.custome-approved-contact .addcontact-text span{
    width:100%!important;
    display:block;
    line-height:1.5;
    white-space:inherit;
    overflow:inherit;
    text-overflow:inherit;
    max-width:200px;
    max-width:100%
}
.header ul li.dropdown-user ul li{
    padding:0
}
.header ul li.dropdown-user ul li.logout{
    padding:0 0 10px
}
.header ul li .notifications li{
    padding:0;
    border-right:none
}
.custom_footer_left{
    background:#fff;
    border:1px solid #d9d9d9;
    padding:1px;
    border-radius:2px;
    margin-bottom:10px
}
.profile-boxProfileCard_follow ul li,.profile-boxProfileCard_follow_mobile ul li{
    width:100%!important;
    border-bottom:none
}
.custom_footer_left ul{
    float:none;
    padding:0;
    margin:0;
    display:inline-block
}
.custom_footer_left ul li{
    display:inline-block;
    margin:0;
    float:left;
    font-size:12px;
    padding:0 2px;
    line-height:1;
    position:relative
}
.custom_footer_left ul li a{
    padding:0;
    float:left;
    color:#8c8c8c
}
.bui_art_left_box .custom_footer_left ul li{
    display:inline-block;
    padding:0 2px;
    margin:0;
    float:left
}
.bui_art_left_box .custom_footer_left ul li a{
    padding:0;
    float:left;
    color:#8c8c8c;
    font-size:12px
}
.custom_footer_left ul li a:hover{
    color:#1b8ab9
}
.custom_footer_dot{
    float:left;
    padding:0 1px;
    font-size:30px;
    color:#8c8c8c;
    line-height:.4
}
.profile-boxProfileCard_follow ul li .contact-frnd-post{
    padding:5px 10px
}
.profile-boxProfileCard_follow_mobile ul li .contact-frnd-post{
    padding:2px 8px 0
}
.user-midd-section .khyati{
    pointer-events:none
}
.fixed_art{
    position:fixed
}
.post-design-name ul li .post_dot1{
    font-size:15px!important
}
.ui-autocomplete{
    background:#fff
}
.popup-textarea textarea{
    padding-right:10px
}
.ui-widget{
    max-height:210px!important;
    margin-top:4px!important;
    overflow-y:scroll;
    overflow-x:hidden;
    position:fixed!important;
    z-index:100000000!important
}
.back,.bui_res_i2{
    position:relative
}
.post-design-box .post-design-desc input.productpostname{
    padding-right:45px
}
.ui-state-active{
    border:none!important;
    background:#f3f9fb!important
}
.art_no_post_avl,.art_no_pva_avl{
    background:#fff;
    width:100%;
    display:inline-block
}
.ui-menu .ui-menu-item .ui-menu-item-wrapper{
    padding:2px!important
}
.art_no_post_avl{
    border:1px solid #d9d9d9;
    border-radius:4px;
    margin-top:0
}
.art-img-nn{
    width:100%;
    margin:30px 0
}
.art_no_post_avl h3{
    padding:4px 0;
    width:100%;
    text-align:center;
    color:#1b8ab9;
    border-bottom:1px solid #d9d9d9
}
.art_no_post_text,.art_no_post_text1{
    color:#ccc;
    font-size:32px
}
.art_no_post_img{
    padding-top:20px;
    padding-bottom:20px
}
.art_no_post_text{
    line-height:40px;
    padding-top:30px
}
.follow_left_box_main_btn .bg_following{
    margin-bottom:0
}
.bui_res_i2{
    height:166px;
    width:223px
}
.bui_res_i2 img{
    height:100%;
    width:100%
}
.back{
    width:84%;
    background-color:#fff;
    color:#1b8ab9;
    border:1px solid #1b8ab9;
    border-radius:30px
}
.headerborder,.notification-database:hover{
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px
}
.but1{
    padding:8px 4px 8px 0;
    overflow:hidden;
    font-size:17px;
    font-weight:700;
    letter-spacing:.2px;
    margin-left:16px
}
.but1:before{
    font-family:FontAwesome;
    content:"\f177";
    font-size:18px;
    position:absolute;
    top:8px;
    margin-left:5px;
    left:-3%;
    visibility:hidden;
    transition:all .2s ease
}
.but1:hover:before{
    left:7px;
    visibility:visible
}
.notificationsmsg li{
    border-bottom:1px solid #efefef
}
.notification-database:hover{
    background-color:#e9f6fc
}
.notification-database .active{
    background-color:#fff
}
#notificationTitle .see_link a:hover{
    text-decoration-line:underline;
    color:#1b8ab9
}
#notificationTitle .see_link a{
    color:#000;
    font-size:14px;
    float:right;
    padding:0 4px!important;
    border:none
}
#search{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:9;
    background-color:rgba(0,0,0,.7);
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    -ms-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
    -webkit-transform:translate(0,-100%) scale(0,0);
    -moz-transform:translate(0,-100%) scale(0,0);
    -o-transform:translate(0,-100%) scale(0,0);
    -ms-transform:translate(0,-100%) scale(0,0);
    transform:translate(0,-100%) scale(0,0);
    opacity:0
}
#search.open{
    -webkit-transform:translate(0,0) scale(1,1);
    -moz-transform:translate(0,0) scale(1,1);
    -o-transform:translate(0,0) scale(1,1);
    -ms-transform:translate(0,0) scale(1,1);
    transform:translate(0,0) scale(1,1);
    opacity:1;
    height:100vh
}
#search .new-search-input{
    position:absolute;
    top:50%;
    width:100%;
    color:#fff;
    background:rgba(0,0,0,0);
    font-size:60px;
    font-weight:300;
    border:0;
    margin:-51px auto 0;
    padding-left:15px;
    padding-right:15px;
    outline:0
}
#search .new-search-input input{
    border:none;
    height:35px;
    line-height:1;
    margin:10px auto;
    padding:10px;
    width:100%
}
#search .btn{
    position:absolute;
    top:50%;
    left:50%;
    margin-top:61px;
    transform:translate(-50%,0);
    background:#fff;
    color:#1b8ab9;
    border:none
}
#search .btn:hover{
    background:#1b8ab9;
    color:#fff
}
#search .close{
    background-color:#1b8ab9;
    border-color:#1b8ab9;
    color:#fff;
    font-size:20px;
    opacity:1;
    padding:1px 5px 3px;
    position:fixed;
    right:0;
    top:50px;
    z-index:99
}
.search-mob-block{
    width:30px;
    float:left
}
.search-mob-block label{
    margin-bottom:0;
    margin-top:4px
}
.search-mob-block label i{
    background-color:#fff;
    border-radius:3px;
    color:#999;
    cursor:pointer;
    font-size:22px;
    padding:3px 4px
}
header.animated{
    z-index:9
}
.ani{
    transition:all .1s;
    -webkit-transition:all .1s
}
.cover .fancybox-slide>*{
    padding:0!important;
    border-radius:5px
}
.fancybox-close-small::after{
    background:0 0;
    font-size:30px;
    color:#777
}
.fancybox-close-small:hover,.fancybox-close-small:hover::after{
    background:0 0
}
.cover .fancybox-slide .modal-content{
    padding:0;
    border:none;
    box-shadow:none
}
.cover .modal-close{
    line-height:22px!important
}
#search .new-search-input{
    height:215px
}
#search .new-search-input .btn.btn-primary{
    width:auto
}
#notificationLink1:hover{
    cursor:pointer;
    background-color:#d9d9d9;
    border-radius:30%
}
.custom-user,.user_lst li a .post-img-userlist{
    background:-moz-linear-gradient(96deg,#1b8ab9 0,#1b8ab9 44%,#3bb0ac 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#3bb0ac),color-stop(56%,#1b8ab9),color-stop(100%,#1b8ab9));
    background:-webkit-linear-gradient(96deg,#1b8ab9 0,#1b8ab9 44%,#3bb0ac 100%);
    background:-o-linear-gradient(96deg,#1b8ab9 0,#1b8ab9 44%,#3bb0ac 100%);
    background:-ms-linear-gradient(96deg,#1b8ab9 0,#1b8ab9 44%,#3bb0ac 100%)
}
.custom-user{
    width:25px;
    height:25px;
    border:2px solid #fff;
    border-radius:100%;
    float:left;
    font-size:12px;
    margin-right:5px;
    background:linear-gradient(354deg,#1b8ab9 0,#1b8ab9 44%,#3bb0ac 100%)
}
.edit_data{
    margin-top:-4px;
    display:inline-block
}
#notificationContainer .content.mCustomScrollbar{
    overflow:hidden;
    border-radius:3px
}
footer{
    background-color:#fff!important;
    font-size:14px
}
.footer-bottom{
    position:absolute;
    right:0;
    bottom:0;
    left:0
}
.copyright{
    background-color:#222;
    padding:10px 0
}
.copyright p{
    color:#fff;
    padding-top:6px;
    font-size:14px
}
.copyright ul{
    float:right;
    padding:0;
    margin:0
}
.copyright ul li{
    list-style:none;
    display:inline-block;
    padding:0;
    margin:0
}
.copyright ul li a{
    background:#000;
    color:#1b8ab9;
    width:33px;
    height:33px;
    display:inline-block;
    border-radius:50%;
    line-height:2.3;
    font-size:14px;
    margin:0 4px
}
.copyright ul li a:hover{
    background:#1b8ab9
}
#loader{
    margin:10px 10px 20px
}
.header-left-menu ul{
    float:left;
    width:100%;
    padding-bottom:0;
    margin-bottom:5px
}
.reactivatebox{
    height:160px;
    width:80%;
    background-color:#fff;
    margin-top:16%;
    border:1px solid #ccc;
    border-radius:5px;
    box-shadow:0 0 20px 2px #bfbfbf;
    align-items:center
}
.reactivate_header{
    padding:3px
}
.reactivate_btn_n a,.reactivate_btn_y a{
    padding:10px 35px;
    border-radius:6px;
    text-decoration:none;
    font-size:20px
}
.reactivate_header h2{
    margin:10px 0
}
.reactivate_btn_n,.reactivate_btn_y{
    height:20px;
    width:50%;
    margin-top:25px;
    float:left
}
.reactivate_btn_y a{
    background-color:#1b8ab9;
    color:#fff
}
.reactivate_btn_y a:hover{
    color:#fff;
    text-decoration:none;
    background:#156f95
}
.reactivate_btn_n{
    text-align:center
}
.post-img-mainuser,.user_lst li a .post-img-userlist{
    width:100%;
    height:100%;
    text-transform:uppercase;
    color:#fff;
    text-align:center
}
.reactivate_btn_n a{
    background-color:#1b8ab9;
    color:#fff
}
.reactivate_btn_n a:hover{
    color:#fff;
    text-decoration:none;
    background:#156f95
}
.job-menu-profile a h3{
    cursor:default
}
#userimage label.error{
    right:20px
}
.user_lst li a .post-img-userlist{
    background:linear-gradient(354deg,#1b8ab9 0,#1b8ab9 44%,#3bb0ac 100%);
    font-size:20px;
    padding:16px 0;
    line-height:1
}
.post-img-mainuser{
    background:-moz-linear-gradient(96deg,#1b8ab9 0,#1b8ab9 44%,#3bb0ac 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#3bb0ac),color-stop(56%,#1b8ab9),color-stop(100%,#1b8ab9));
    background:-webkit-linear-gradient(96deg,#1b8ab9 0,#1b8ab9 44%,#3bb0ac 100%);
    background:-o-linear-gradient(96deg,#1b8ab9 0,#1b8ab9 44%,#3bb0ac 100%);
    background:-ms-linear-gradient(96deg,#1b8ab9 0,#1b8ab9 44%,#3bb0ac 100%);
    background:linear-gradient(354deg,#1b8ab9 0,#1b8ab9 44%,#3bb0ac 100%);
    font-size:32px;
    padding:19px 0;
    line-height:3.3
}
.btn-success.active.focus,.btn-success.active:focus,.btn-success.active:hover,.btn-success.focus,.btn-success:active.focus,.btn-success:active:focus,.btn-success:active:hover,.btn-success:focus,.open>.dropdown-toggle.btn-success.focus,.open>.dropdown-toggle.btn-success:focus,.open>.dropdown-toggle.btn-success:hover{
    color:#fff;
    background-color:#1b8ab9;
    border-color:#1b8ab9;
    outline:0
}
.btn-success:hover{
    color:#1b8ab9;
    background-color:#fff
}
.krajee-default.file-preview-frame .kv-file-content{
    height:125px!important;
    overflow:hidden!important
}
.krajee-default .file-preview-image{
    vertical-align:middle;
    width:auto!important;
    height:100%!important
}
.kv-file-content video{
    width:100%
}
.kv-file-content audio{
    max-width:100%
}
.krajee-default[data-template=audio] .file-preview-audio{
    height:100%
}
.text_center{
    text-align:center
}
.show{
    display:block
}
.dropdown2_content,.mob-block{
    display:none
}
.notification_data_in #gen_not_loader{
    margin-top:85px
}
.no-image-upload .post-img-mainuser{
    background:0 0
}
.fancybox-close-small:hover::after{
    background-color:#156f95!important;
    color:#fff!important
}
.profile-head{
    float:left
}
.all,.all-h,.header-icon-notification,.header-icon-notification-h{
    display:inline-block;
    background:url(../img/index.png) no-repeat;
    overflow:hidden;
    text-indent:-9999px;
    text-align:left
}
.header ul li a .all:hover{
    background-position:0 0;
    width:32px;
    height:32px
}
.all{
    background-position:-32px 0;
    width:32px;
    height:32px
}
.header ul li a .header-icon-notification:hover{
    background-position:0 -32px;
    width:32px;
    height:32px
}
.header-icon-notification{
    background-position:-32px -32px;
    width:32px;
    height:32px
}
.notification_available .header-icon-notification{
    background-position:0 -32px;
    width:32px;
    height:32px
}
.home-22x22,.home-22x22-h,.message3-24x24,.message3-24x24-h{
    display:inline-block;
    background:url(../img/h3.png) no-repeat;
    overflow:hidden;
    text-indent:-9999px;
    text-align:left
}
.home-22x22-h{
    background-position:0 -18px;
    width:19px;
    height:18px
}
.home-22x22-h:hover{
    background-position:0 0;
    width:19px;
    height:18px
}
.message3-24x24-h{
    background-position:0 -52px;
    width:18px;
    height:16px
}
.message3-24x24-h:hover,.msg_notification_available .message3-24x24-h{
    background-position:0 -36px;
    width:18px;
    height:16px
}
.icon-delete,.icon-delete-white,.icon-edit-profile,.icon-edit-profile-white,.icon-logout,.icon-logout-white,.icon-settings,.icon-settings-white,.icon-view-profile,.icon-view-profile-white{
    display:inline-block;
    background:url(../img/edit_profile.png) no-repeat;
    overflow:hidden;
    text-indent:-9999px;
    text-align:left
}
.dropdown_hover .dropdown-content_hover a:hover .icon-delete{
    background-position:0 0;
    width:20px;
    height:20px
}
.icon-edit-profile{
    background-position:0 -20px;
    width:20px;
    height:20px
}
.dropdown_hover .dropdown-content_hover a:hover .icon-edit-profile{
    background-position:0 -40px;
    width:20px;
    height:20px
}
.icon-logout{
    background-position:0 -60px;
    width:20px;
    height:20px
}
.dropdown_hover .dropdown-content_hover a:hover .icon-logout{
    background-position:0 -80px;
    width:20px;
    height:20px
}
.icon-settings{
    background-position:0 -100px;
    width:20px;
    height:20px
}
.dropdown_hover .dropdown-content_hover a:hover.icon-settings{
    background-position:0 -120px;
    width:20px;
    height:20px
}
.icon-view-profile{
    background-position:0 -140px;
    width:20px;
    height:20px
}
.dropdown_hover .dropdown-content_hover a:hover .icon-view-profile{
    background-position:0 -160px;
    width:20px;
    height:20px
}
.icon-delete{
    background-position:0 -180px;
    width:19px;
    height:19px
}
.down-arrow,.down-arrow-hover{
    display:inline-block;
    background:url(../img/dropdown_aro.png) no-repeat;
    overflow:hidden;
    text-indent:-9999px;
    text-align:left
}
.down-arrow-hover{
    background-position:0 0;
    width:16px;
    height:16px
}
.down-arrow{
    background-position:0 -16px;
    width:16px;
    height:16px
}
.em{
    height:1.5em;
    width:1.5em;
    background-position:center;
    background-repeat:no-repeat;
    background-size:contain;
    display:inline-block
}
.em-blush{
    background-image:url(../img/blush.png)
}
.highlight{
    display:inline-block;
    border-radius:.125em
}
.h_w{
    height:100%
}
.croppie-container .cr-image{
    z-index:-1;
    position:absolute;
    top:0;
    left:0;
    transform-origin:0 0;
    max-width:none
}
.croppie-container .cr-boundary{
    position:relative;
    overflow:hidden;
    margin:0 auto;
    z-index:0
}
.croppie-container .cr-viewport{
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    box-shadow:0 0 2000px 2000px rgba(0,0,0,.5);
    z-index:0
}
.croppie-container .cr-overlay{
    z-index:1;
    position:absolute;
    cursor:move
}
.croppie-container .cr-slider-wrap{
    width:75%;
    margin:25px auto 0;
    text-align:center
}
.croppie-result{
    position:relative;
    overflow:hidden
}
.croppie-result img,footer{
    position:absolute
}
.croppie-container .cr-image,.croppie-container .cr-overlay,.croppie-container .cr-viewport{
    -webkit-transform:translateZ(0);
    -moz-transform:translateZ(0);
    -ms-transform:translateZ(0);
    transform:translateZ(0)
}
.cr-slider{
    -webkit-appearance:none;
    width:300px;
    max-width:100%
}
.cr-slider::-webkit-slider-runnable-track{
    width:100%;
    height:3px;
    background:rgba(0,0,0,.5);
    border:0;
    border-radius:3px
}
.cr-slider::-webkit-slider-thumb{
    -webkit-appearance:none;
    border:none;
    height:16px;
    width:16px;
    background:#ddd;
    margin-top:-6px
}
.cr-slider:focus{
    outline:0
}
.cr-slider::-moz-range-track{
    width:100%;
    height:3px;
    background:rgba(0,0,0,.5);
    border:0;
    border-radius:3px
}
.cr-slider::-moz-range-thumb{
    border:none;
    height:16px;
    width:16px;
    background:#ddd;
    margin-top:-6px
}
.cr-slider:-moz-focusring{
    outline:#fff solid 1px;
    outline-offset:-1px
}
.cr-slider::-ms-track{
    width:300px;
    height:5px;
    background:0 0;
    border-color:transparent;
    border-width:6px 0;
    color:transparent
}
.cr-slider::-ms-fill-lower{
    background:rgba(0,0,0,.5);
    border-radius:10px
}
.cr-slider::-ms-fill-upper{
    background:rgba(0,0,0,.5);
    border-radius:10px
}
.cr-slider::-ms-thumb{
    border:none;
    height:16px;
    width:16px;
    background:#ddd
}
.cr-slider:focus::-ms-fill-lower{
    background:rgba(0,0,0,.5)
}
.cr-slider:focus::-ms-fill-upper{
    background:rgba(0,0,0,.5)
}
.cr-rotate-controls{
    position:absolute;
    bottom:5px;
    left:5px;
    z-index:1
}
.cr-rotate-controls button{
    border:0;
    background:0 0
}
.cr-rotate-controls i:before{
    display:inline-block;
    font-style:normal;
    font-weight:900;
    font-size:22px
}
.cr-rotate-l i:before{
    content:'↺'
}
.cr-rotate-r i:before{
    content:'↻'
}
#search .new-search-input .btn.btn-primary:focus{
    outline:0
}
#loader{
    margin-left:0!important;
    margin-right:0!important
}
.main-menu-right #atittle a{
    padding-top:0!important
}
footer{
    padding:0;
    color:#353535;
    bottom:0;
    height:0;
    width:100%
}
footer>.container{
    border-top:1px solid #dbdada
}
footer ul{
    padding-left:0;
    margin-bottom:0;
    display:inline-block
}
footer ul li{
    display:inline-block;
    list-style-type:none
}
footer ul li a{
    color:#353535;
    padding:5px 8px;
    font-size:12px
}
footer ul li:last-child a{
    padding-right:0
}
footer ul li a:hover{
    color:#353535;
    text-decoration:underline
}
.cover button.modal-close:hover{
    background:#156f95!important
}
.cus-full1{
    padding:0 10px!important
}
.click-profiles{
    position:relative
}
.custom_footer_left ul.left-ftr-profiles{
    position:absolute;
    bottom:14px;
    width:150px;
    background:#fff;
    padding:5px 10px;
    border:1px solid #d9d9d9;
    border-radius:4px;
    right:0;
    display:none
}
.custom_footer_left ul.left-ftr-profiles li{
    padding:5px 0
}
.click-profiles .fa-sort-asc{
    padding-left:5px;
    font-size:16px;
    height:10px;
    float:right;
    padding-top:2px
}
.cameraButton #upload{
    display:none
}
@media screen and (min-width:1300px){
    .container{
        width:1280px
    }
}
@media screen and (min-width:1280px) and (max-width:1299px){
	.header2{
        width:1140px;
    }
}

@media screen and (min-width:1200px) and (max-width:1350px){
    #InboxContainer{
        right:-5px
    }
}
@media screen and (max-width:1296px){
   /* .header2{
        width:1140px;
    }*/
	.fixed_right_display{display:none;}
}	
@media screen and (max-width:1279px){
    .reactivate_header h2{
        font-size:22px
    }
    .header2{
        width:1140px
    }
    #InboxContainer:before{
        right:27px
    }
}
@media screen and (max-width:1199px){
    .custom_footer_left ul li a{
        font-size:12px
    }
    .header2 .job-search-box1 fieldset.sec_h2{
        width:175px
    }
    .header2{
        width:940px;
        top:49px
    }
    .header ul li a{
        padding:0!important
    }
    .header ul li.dropdown-user a{
        padding:4px 0 0!important
    }
    #InboxContainer{
        right:-7px
    }
    .main-menu-right{
        padding-right:11px
    }
}
@media screen and (max-width:1024px){
    .post-img-user{
        height:100%;
        width:100%
    }
    .header2 ul{
        padding-right:0
    }
    .header ul li.dropdown-user ul li a{
        padding:8px
    }
    .header2{
        top:49px
    }
    #notificationContainer{
        top:22px
    }
    #InboxContainer{
        top:25px
    }
    #InboxContainer::before{
        right:4%
    }
    #notificationLink span{
        top:5px
    }
    header .header2{
        margin:auto
    }
}
@media screen and (max-width:991px){
    .main-menu-right{
        padding-right:2px
    }
    .dropdown-menu{
        right:-10px
    }
    #notificationLink span{
        top:0
    }
    #floatBarsG{
        margin-top:-3%
    }
    .header2 ul.notification_data_in_h2{
        padding-right:0;
        width:100%
    }
    .header2 ul.notification_data_in_h2 li{
        width:100%;
        border-right:none!important
    }
    .header2 ul.notification_data_in_h2 li a{
        width:100%
    }
    .header2 .job-search-box1 fieldset.sec_h2{
        width:145px
    }
    #InboxContainer{
        right:-4px
    }
    .dropdown-menu::before{
        right:3.5%
    }
    .bg-search .header2{
        width:750px;
        margin:0 auto
    }
    .header2 .dropdown_hover{
        padding:8px 3px 3px 8px
    }
    .header2 ul{
        padding-right:20px
    }
    .header2 .dropdown_hover .dropdown-content_hover{
        left:inherit;
        right:-10px!important
    }
    .post-img-mainuser{
        padding:4px 0
    }
    .dropdown-content_hover::before{
        right:1px!important
    }
}
@media screen and (max-width:767px){
    .header ul li,.main-menu-right{
        padding-top:0
    }
    .mob-block,.search-mob-block{
        display:block
    }
    .header2 .mob-width{
        padding-left:5px;
        padding-right:0
    }
    .header2 .dropdown_hover .dropdown-content_hover{
        right:-4px!important
    }
    .reactivate_header h2{
        font-size:16px
    }
    .cameraButton .tooltiptext{
        font-size:14px;
        font-weight:400!important
    }
    .back{
        width:27%
    }
    .header-left-menu ul{
        padding-bottom:0
    }
    .header2{
        top:41px
    }
    .cover .fancybox-slide>*{
        width:90%
    }
    .por_content ul li .pro-text{
        width:100%
    }
    #floatBarsG{
        margin-top:-3%
    }
    .post-img-user{
        line-height:0
    }
    .bg-search .header2{
        padding:0
    }
    #notificationContainer{
        left:2%;
        width:96%
    }
    #notificationsmsgBody li a,.mob-width{
        width:100%
    }
    #notificationContainer::before{
        right:71px;
        top:3px
    }
    .search-mob-block label i{
        font-size:20px
    }
    #add_contact #addcontactContainer::before{
        right:215px;
        margin-top:-16px
    }
    .action-button #message_count{
        right:3px
    }
    .search-mob-block a{
        padding-left:10px
    }
    .logo,.logo h2{
        padding:0
    }
    .header2 ul,.pl0-xs{
        padding-left:0
    }
    .mob-width{
        position:absolute
    }
    .logo h2{
        font-size:24px;
        line-height:35px
    }
    .dropdown-menu{
        left:inherit!important;
        right:-11px!important;
        top:28px
    }
    .header ul{
        margin:8px 0 1px
    }
    .header ul li a .img-all,.header ul li a .img-msg,.header ul li a .img-noti{
        width:27px;
        height:27px;
        background-size:100%
    }
    .mob-none{
        display:none
    }
    .mob-clear{
        clear:both
    }
    #notificationLink span{
        top:0!important
    }
    .header-left-menu{
        position:relative;
        width:100%;
        margin-top:-42px
    }
    .main-menu-right ul li#Inbox_link,.main-menu-right ul li#notification_li{
        position:inherit!important
    }
    #InboxContainer{
        width:94%!important;
        right:inherit!important;
        left:2%!important;
        margin-top:10px;
        top:28px
    }
    #InboxContainer::before{
        right:155px
    }
    .notification-database,.notifications li,.notificationsmsg li{
        width:100%
    }
    .mob-zindex{
        position:relative;
        z-index:11
    }
    .bg-search .header2{
        width:100%;
        margin-top:-6px
    }
    .header2 ul li{
        float:left;
        position:inherit
    }
    .header2 ul{
        padding-right:15px
    }
    .header2 ul li a{
        padding:9px 10px 8px;
        line-height:1
    }
    .header2 .hidden-mob{
        position:relative;
        z-index:99
    }
    #add_contact #addcontactContainer{
        width:100%;
        top:35px
    }
    .job_con #InboxContainer::before{
        right:100px
    }
    .content{
        height:200px!important
    }
    #InboxBody{
        min-height:auto
    }
    #addcontactBody{
        height:auto
    }
    .header ul li #abody ul li a .all-img{
        margin:0;
        width:35px;
        height:35px
    }
    .header ul li #abody ul li a .text-all{
        padding:7px 5px 6px;
        width:135px
    }
    #atittle{
        padding-top:2px;
        padding-bottom:2px;
        font-size:15px
    }
    #atittle a{
        font-size:14px
    }
    #abody{
        min-height:230px
    }
    #acon{
        padding-bottom:0;
        width:222px;
        margin-top:15px!important;
        right:3%!important
    }
    .header ul li #abody ul li a{
        font-size:15px
    }
    #acon::before{
        right:16px
    }
    .dropdown_hover span i{
        margin-right:0
    }
    footer{
        padding:0;
        /*height:65px;*/
        text-align:center
    }
    footer .pt20{
        padding:10px 15px!important
    }
    footer ul li{
        padding-left:0;
        margin-bottom:0
    }
    footer .container{
        padding:10px 15px!important
    }
    footer ul{
        float:none;
        display:inline-block;
        padding-top:0
    }
    footer .col-md-6{
        width:100%;
        float:left;
        font-size:12px
    }
    footer ul li:last-child a{
        padding-right:15px
    }
}
@media screen and (max-width:640px){
    .back{
        width:40%
    }
    .job_con #InboxContainer::before{
        right:107px
    }
    fieldset{
        padding:9px 8px!important
    }
    #notificationContainer::before{
        right:73px
    }
    .post-img-mainuser{
        padding:5px 0;
        line-height:2.3
    }
    .dropdown-content_hover::before{
        right:3px!important
    }
}
@media screen and (max-width:540px){
    .h2-smladd,.reactivate_btn_n,.reactivate_btn_y{
        margin-top:0
    }
    #InboxContainer{
        width:93%!important
    }
    #notificationContainer::before{
        right:74px
    }
    .back{
        width:40%
    }
    .reactivate_header{
        padding:7px
    }
    #notificationsmsgBody #InboxFooter a{
        font-size:14px;
        padding:3px 21px!important
    }
    .header2 ul li.active a{
        padding:9px 10px 10px
    }
    #basicinfo .day{
        width:31%!important;
        padding-left:4px
    }
    #basicinfo .month{
        width:32%!important;
        padding-right:0;
        padding-left:4px
    }
    #basicinfo .year{
        width:33%!important;
        padding-left:4px;
        padding-right:0
    }
    .reactivate_btn_n a,.reactivate_btn_y a{
        font-size:16px;
        padding:7px 29px
    }
    .notification-data-inside h6{
        padding:0
    }
}
@media screen and (max-width:479px){
    #InboxContainer{
        width:92%!important
    }
    .job_con #InboxContainer::before{
        right:118px
    }
    #acon{
        width:94%!important;
        right:3%!important;
        margin-top:21px!important
    }
    .logo h2{
        font-size:20px
    }
    #floatBarsG{
        margin-left:-167px;
        margin-top:-1%
    }
    #add_contact #addcontactContainer{
        right:0
    }
    #notificationLink span{
        margin-top:.2px;
        padding:4px 5px!important
    }
    #add_contact #addcontactContainer::before{
        right:218px
    }
    #a_li{
        position:inherit!important
    }
    #acon::before{
        right:125px!important
    }
    #notificationContainer::before{
        right:57 px;
        border:9px solid #000;
        margin-top:-18px;
        border-color:transparent transparent #fff
    }
    .notification-data-inside h6{
        font-size:12px
    }
    .back{
        width:55%
    }
    footer ul li a{
        font-size:11px;
        padding:5px
    }
    #addcontact_count{
        right:5px
    }
}
@media screen and (max-width:360px){
    .header ul{
        margin-top:16px
    }
    #paddingtop_fixed{
        padding-top:70px!important
    }
    #InboxContainer::before{
        right:152px
    }
    #acon{
        margin-top:30px!important
    }
    .dropdown-menu{
        top:17px
    }
    #floatBarsG{
        margin-left:-145px;
        margin-top:-3%
    }
    #add_contact #addcontactContainer::before{
        right:198px
    }
    .header2 ul li a#addcontactLink{
        padding:7px 6px!important
    }
    .header ul{
        margin:9px 0 1px;
        top:31px
    }
    #notificationContainer{
        top:31px
    }
    .bg-search .header2{
        margin-top:-7px
    }
    .action-button #message_count{
        right:0
    }
    .job-saved-box .notification-box ul li{
        padding:0
    }
    #notification_inside h6{
        font-size:12px!important
    }
    #notification_inside{
        padding:0px 5px 5px 1px!important;
        margin-left:60px!important
    }
    .job_con #InboxContainer::before{
        right:105px
    }
    #acon::before{
        right:125px!important
    }
    .header2 ul li a#addcontactLink{
        padding-top:6px!important
    }
    .header2 ul li a#InboxLink{
        padding:12px 8px 4px
    }
    #notificationContainer::before{
        right:73px
    }
    .logo h2{
        padding:0
    }
    .alert{
        float:left
    }
    .logo{
        padding:2px 0 0
    }
    .header ul li.dropdown-user a{
        padding-top:4px!important
    }
    .search-mob-block label{
        margin-top:4px
    }
    .dropdown-content_hover::before{
        right:3px!important
    }
    .header-left-menu{
        margin-top:-40px
    }
    .header ul li{
        padding:1px 8px 0
    }
}
@media screen and (max-width:320px){
    .dropdown2 a{
        padding:8px
    }
    .header2 ul li.active a{
        padding:9px 9px 9px 0
    }
    .bg-search .header2{
        padding-left:0
    }
    .header2 .dropdown_hover{
        padding-right:3px
    }
    .header2 .mob-width{
        padding-left:15px;
        padding-right:0
    }
    ul#dropdownclass{
        padding-right:15px
    }
    .header ul li{
        padding:1px 6px 0
    }
    .but1{
    padding:8px 0px 8px 0;}
}
